.reuseLandingSection {
	margin-bottom: 40px;
}


.mainSectionContent {
	text-align: center;

	@media screen and (min-width: 920px) {
		align-self: center;
		text-align: unset;
	}
}

.headline {
	margin-bottom: 40px;
}

.paragraph {
	margin-bottom: 40px;
}

.buttons {
	margin-bottom: 40px;

	@media screen and (min-width: 920px) {
		display: flex;
		justify-content: center;
	}

	button {
		width: 199px;
		padding: 0 20px;
	}
}