@import "../../components/layout/_breakpoints.scss";

.reuseLandingSection {
	margin-bottom: 40px;
}


.mainSectionContent {
	text-align: center;

	@media screen and (min-width: 920px) {
		align-self: center;
		text-align: unset;
	}
}

.spacer {
	width: 20px;
	height: 20px;
}

.headline {
	margin-bottom: 40px;
}

.paragraph {
	margin-bottom: 40px;
}

.buttons {
	margin-bottom: 40px;

	@media screen and (min-width: $br-sm) {
		display: flex;
		justify-content: center;
	}

	button {
		width: 199px;
	}
}