@import "../../components/layout/breakpoints.scss";

.ctaLabel {
	background-color: var(--blue);
	margin: 0 auto 25px auto;
}


.icon {
	display: block;
	margin: 0 auto;
	width: 120px;
}

.iconBlock {
	  max-width: 260px;
}