@import "../../components/layout/_breakpoints.scss";

.ctaLabel {
	background-color: var(--blue, #0984e3);
	margin: 0 auto 25px auto;
}


.icon {
	display: block;
	margin: 0 auto;
	width: 120px;
}

.iconBlock {
	  max-width: 260px;
}

.singleGrid {
	grid-row-gap: unset;
}