.componentHighlighter {
	&.active.highlighting {
		.tooltip {
			display: block;
		}

		.border {
			display: block;
		}
	}

	.tooltip {
		display: none;
		transition: all 180ms;
	}

	.border {
		display: none;
		transition: all 180ms;
	}
}