.componentHighlighter {
	&.active {
		[data-bit-id] {
			outline-color: transparent;

			&:hover {
				outline: 1px solid var(--component-highlighter-bg, #ff0281);
			}
		}

		.tooltipWrapper.visible {
			display: block;
		}
	}


	.tooltipWrapper {
		display: none;
	}
}