@import '../../components/layout/_breakpoints.scss';

.centerImg {
  padding-top: 50px;
  margin-bottom: 90px;
}


.ctaLabel {
  margin: 0 auto;
  background-color: var(--green, #37b26c);
  margin-bottom: 25px;
}

.iconBox {
  max-width: 500px;
  margin: 0 0 40px 0;
  text-align: center;
  @media screen and (min-width: $br-md) {
    text-align: left;
    margin: 0 25px 100px 25px;
  }
}

.icon {
  width: unset;
  min-height: 30px;
  max-height: 30px;
  margin-bottom: 30px;
}

.grid {
  grid-gap: 20px;
}