@import '~@bit/bit.base.theme.colors';

.defaultLabel,
.componentLabel {
	display: flex;
	align-items: center;
	border: none;

	font-size: 12px;
	background-color: var(--component-highlighter-bg, $pink50);
	color: var(--component-highlighter-text, $w10);

	line-height: 1.68;

	transition: all 300ms;
}

.defaultLabel {
	padding: 0px 11px;

}

.componentLabel {
	padding: 0;

	filter: saturate(100%);

	&:hover {
		filter: saturate(138%);
	}

	.scopeName {
		padding: 0 7px 0 11px;
		border-right: 1px solid var(--component-highlighter-text, $w10);

		background: var(--scope-color-bg, none);
	}

	.fullName {
		padding: 0 4px 0 7px;
	}

	.version {
		padding-left: 4px;
	}
}

.componentLink {
	padding-right: 11px;
}

.link,
.componentLink {
	display: flex;
	color: inherit;
	text-decoration: none;
}