.fold5 {
  // height: 1000px;

  // background-image: url('https://static.bit.dev/homepage-bit/3-build-ui-qpps-Background.svg');
  // background-position: center -1230px;
  // background-repeat: no-repeat;
}



.textBoxesSection {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  > div {
    text-align: left;
    max-width: 400px;
    margin: 0 20px;
  }
}


.ctaLabel {
  background-color: var(--green);
}
