
  .iconLine {
    font-size: 12px;
    max-width: 350px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    margin: 0 auto 40px auto;
    @media screen and (min-width: 920px) {
        // text-align: unset;
        margin: unset;
      }
  }

  .icon {
    width: 30px;
  }
