@import '~@bit/bit.base.theme.colors';

.compactComponentBubble {
	display: flex;

	background: var(--component-highlighter-bg, $pink50);

	color: var(--component-highlighter-text, $w10);
	font-size: 12px;

	//reset styles from card:
	padding: 0;
	border: none;
}

.componentName {
	line-height: 1.68;

	transition: filter 300ms;
	transform: translateZ(0); //fix blurriness in Safari

	filter: saturate(100%) brightness(100%);

	&:hover {
		filter: saturate(109%) brightness(109%);
	}
}

.componentName {
	display: flex;
	border-radius: 0 4px 4px 0;
	padding: 0 11px;

}

.link {
	color: inherit;
	text-decoration: none;
}

.versionPrefix {
	//'@' looks a little big using the CircularPro font
	font-size: 0.85em;
}