// font sizes only!

.h1 {
    // margin-bottom: 20px
    margin-bottom: var(--h1Margin);
}
.h2 {
    // margin-bottom: 20px
    margin-bottom: var(--h2Margin);
}
.h3 {
    // margin-bottom: 20px
    margin-bottom: var(--h3Margin);
}
.h4 {
    // margin-bottom: 20px
    margin-bottom: var(--h4Margin);
}
.h5 {
    // margin-bottom: 20px
    margin-bottom: var(--h5Margin);
}
.h6 {
    // margin-bottom: 20px
    margin-bottom: var(--h6Margin);
}
.j7 {
    // margin-bottom: 20px
    margin-bottom: var(--h7Margin);
}

