.topSection {
    margin-bottom: 50px;
}

.wrapper {
    margin-bottom: 150px;
}
.card {
    border: none;
    border-radius: 10px;
}
.top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.title {
    margin-bottom: unset;
}
.paragraph {
    max-width: 600px;
    margin: 0 auto 50px auto;
}
.image {
    margin-right: 10px;
}

.spacer {
    width: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    .button {
        width: 200px;
    }
}