@import "../../components/layout/_breakpoints.scss";
@import '../../constants/storage/_storage.module.scss';

//backgrounds:
.purpleBackground {
	color: white;
	background-image: url($staticStorageUrl + '/homepage-bit/backgrounds/01-purple-gradient.svg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 200% 100%;
	
	padding-bottom: 180px;

	@media (min-width: $br-md) {
		background-size: 100% 100%;
	}
}

.hotpinkBackground {
	background-image: url($staticStorageUrl + '/homepage-bit/backgrounds/01-hotpink.svg');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.uEllipse {
	display: none;
	background: url($staticStorageUrl + '/homepage-bit/backgrounds/grey-curve-U.svg') no-repeat;
	background-size: 100% 100%;

	width: 100%;
	
	@media screen and (min-width: $br-sm) {
		height: 50px;
		display: block;
	}
	
	@media screen and (min-width: $br-l) {
		height: 100px;
	}
}

.greyBackground {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	background:
		url($staticStorageUrl + '/homepage-bit/backgrounds/grey-bg-flat-strips.svg'),
		url($staticStorageUrl + '/homepage-bit/backgrounds/grey-bg.svg');

	background-size: 100% 100%, 100% 100%;
	background-repeat: no-repeat;
}

//sections:
.landingSection {
	padding-top: 135px;
}

.separator {
	margin-top: 80px;
	margin-bottom: 80px;
}

//lazy but useful..?
.padding80 {
	padding: 80px 0;
}

.topSpace130 {
	padding-top: 130px;
}

.topSpace180 {
	padding-top: 180px
}

.margin80 {
	margin-bottom: 80px;
}

.margin130 {
	margin-bottom: 130px;
}

.margin180 {
	margin-bottom: 180px;
}