.integrationBadges {
	overflow: hidden;
}

.logos {
	animation: conveyerBelt 156s linear infinite; //aka 2.6minutes
	display: inline-block;
	width: fit-content;
	white-space: nowrap;

	> * {
		width: 253px;
		height: 253px;

		image-rendering: optimizeSpeed;
		backface-visibility: hidden;
		transform: translateZ(0);
	}

	> :nth-child(even) {
		margin-top: 40px;
	}
	> :nth-child(odd) {
		margin-bottom: 40px;
	}
}

@keyframes conveyerBelt {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-50%);
	}
}
