@import '~@bit/bit.base-ui.constants.storage/_storage.module.scss';

.cardsGrid {
	background-image: url($staticStorageUrl + '/enterprise-offering-v1/3-bit-enterprise/particles.svg');
	background-repeat: no-repeat;
	padding: 90px 78px;
	gap: 40px;
}

.card {
	background: white;
	padding: 46px;
	display: flex;
	flex-direction: column;
}

.bullets {
	flex-grow: 1;
	margin-bottom: 49px;

	> * {
		margin-bottom: 7px;
	}
}
