@import '~@bit/bit.base.theme.colors';

.tooltipWrapper {
	//provides an 'interactive border'
	//where the user can mouse over without losing tooltip
	padding: 4px 9px 9px 9px;
}

.componentTooltip {
	display: block;
	
	box-sizing: border-box;
	border-radius: 11px;
	padding: 4px 11px;
	cursor: pointer;
	text-decoration: none;

	font-size: 12px;
	background-color: var(--component-highlighter-bg, $pink50);
	color: var(--component-highlighter-text, $w10);

	&:hover {
		background-color: var(--component-highlighter-highlight, $pink60);
	}
}