.card {
    /* border: 1px solid #ededed; */
    background-color: white;
}


.ctaLink {
    text-decoration: none;
    color: var(--marketingTemplateAccent);
}

.ctaLabel {
    background-color: var(--marketingTemplateAccent);
}

:export {
    accentVar: --marketingTemplateAccent;
}
