.card {
    background-color: white;
    position: relative;
}


.ctaLink {
    text-decoration: none;
    color: var(--marketingTemplateAccent);
    position: absolute;
    bottom: 30px;
}

.ctaLabel {
    background-color: var(--marketingTemplateAccent);
    margin-bottom: 20px;
}

.icon {
    color: var(--marketingTemplateAccent);
    font-size: 12px;
}

:export {
    accentVar: --marketingTemplateAccent;
}
