@import '~@bit/bit.base-ui.layout.breakpoints';

.mainGrid {
	gap: 46px;
	align-items: center;

	@media screen and (min-width: $br-sm) {
		gap: 76px;
	}
}

.spacer {
	width: 20px;
	height: 20px;
}

.paragraph {
	margin-bottom: 30px;
}

.image {
	max-width: 500px;
	max-height: 550px;
}

.buttons {
	@media screen and (min-width: $br-sm) {
		display: flex;
		justify-content: center;
	}

	@media screen and (min-width: $br-l) {
		justify-content: left;
	}

	button {
		width: 100%;

		@media screen and (min-width: $br-sm) {
			width: 199px;
		}
	}
}
