.Button {
	border-radius: 5px;
	height: var(--primary-button-height, 46px);
	font-size: inherit;
	font-family: inherit;

	text-align: center;
	transition: 300ms all;

	border: 1px solid var(--primary-button-bg, white);
	background-color: var(--primary-button-bg, white);
	color: var(--primary-button-text, var(--base-color, #6c5ce7));

	&[data-variation="cta"] {
		border: 1px solid var(--cta-color, var(--base-color, #6c5ce7));
		background-color: var(--cta-color, var(--base-color, #6c5ce7));
		color: var(--cta-button-text, white);

		&:hover {
			border: 1px solid var(--cta-highlight, var(--base-highlight, #5d4aec));
			background-color: var(--cta-highlight, var(--base-highlight, #5d4aec));
		}
	}
}
