:root {
  --elevation-low: 0 -1px 1px 0 rgba(65, 65, 65, 0.09),
    0 2px 2px 0 rgba(65, 65, 65, 0.23);
  --elevation-medium: 0 -1px 1px 0 rgba(65, 65, 65, 0.09),
    0 2px 2px 0 rgba(65, 65, 65, 0.23);
  --elevation-high: 0 20px 50px 0 rgba(0, 0, 0, 0.1);
}

$elevation-low: var(--elevation-low);
$elevation-medium: var(--elevation-medium);
$elevation-high: var(--elevation-high);
