@import './colors.module.scss';
// @import './dark-colors.module.scss';

.primary {
    --border-color: #{$w20};
    --separator-color: #{$d20};
    // --asset: url('https://static.bit.dev/homepage-bit/1-illustration.svg');
    --primary-button-bg: #{$w10};
    --primary-button-text: #{$p50};
    --primary-button-width: 176px;
    --primary-button-height: 46px;
    
    --cta-button-bg: #{$p50};
    --cta-button-text: #{$w10};
    
    --primary-label-bg: #{$p50};
    --primary-label-text: #{$w10};
    --primary-label-width: 50px;
    // --primary-label-height: 20px;
}

.secondary {
    --border-color: $d20;
    --separator-color: $w20;
}