
.shadowTheme {
  --elevation-none: none;
  --elevation-low: 0px 2px 4px rgba(0, 0, 0, 0.09);
  --elevation-medium: 0px 2px 8px rgba(0, 0, 0, 0.09);
  --elevation-high: 0px 11px 29px 0px rgba(0, 0, 0, 0.23);
}


// box-shadow: 0 2px 8px 0 rgba(186, 190, 201, 0.5);