.heading {
  --h-xxs: 18px;
  --h-xs: 24px;
  --h-sm: 36px;
  --h-md: 40px;
  --h-lg: 50px;
  --h-xl: 60px;
  --h-xxl: 80px;
}
.text {
  --p-xxs: 12px;
  --p-xs: 14px;
  --p-sm: 15px;
  --p-md: 16px;
  --p-lg: 18px;
  --p-xl: 20px;
  --p-xxl: 24px;
}
