.textLeft {
	text-align: left;
}

.textCenter {
	text-align: center;
}

.textRight {
	text-align: right;
}

.marginCenter {
	margin-right: auto;
	margin-left: auto;
}

.contentLeft {
	justify-self: left;
}

.contentRight {
	justify-self: right;
}