.twitterCard {
	display: flex;
	border-radius: 6px;
	background-color: var(--bg-color);
	justify-content: start;
	align-items: center;
	text-align: start;
}

.avatar {
	border-radius: 50%;
	flex: none;
	height: 80px;
	width: 80px;
	margin-right: 16px;
}

.title {
	margin-bottom: 8px;
	font-weight: bold;
}

.icon {
	width: 18px;
	height: 18px;
	margin: 0 10px;
}

.text {
	color: gray;
	font-size: 16px;
}