@import '~@bit/bit.base-ui.layout.breakpoints';

.reverseGrid {
	align-items: end;
	gap: 40px;

	@media screen and (min-width: $br-l) {
		> img {
			order: -1;
		}
	}
}

.bulletList {
	> li {
		margin-bottom: 60px;

		@media screen and (min-width: $br-md) {
			display: flex;
		}
	}
}

.bullet {
	flex: none;
	width: 46px;
	height: 46px;
	margin-right: 24px;
}

.corposphere {
	max-width: 100%;
}
