@import "../../components/layout/breakpoints.scss";

.communityFold {
	padding: 10px;
}

.title {
	margin-bottom: 20px;
}

.tweet {
	margin-bottom: 20px;
	margin-left: auto;
}

.cta {
	margin-bottom: 50px;
}

@media screen and (min-width: $br-lg-new) {
	.tweet {
		width: 80%;
	}
}

.text {
	margin-bottom: 40px;
}

.topLinks {
	display: flex;
	margin-bottom: 28px;
	justify-content: center;

	@media (min-width: $br-sm) {
		display: inline;
		margin-right: 10px;
	}
}

.botLinks {
	display: flex;
	justify-content: space-between;
	
	@media (min-width: $br-sm) {
		display: inline;
	}
}

.githubLink {
	margin: 0 auto;
}

.linkMargin {
	margin-right: 10px;
}