@import '../breakpoints.scss';

$breakpoints: //name | min-size
xs $br-xs,
sm $br-sm,
md $br-md,
l $br-l,
lg $br-lg-new,
// lg $br-lg,
xl $br-xl;



@each $breakpoint in $breakpoints {
	$brName: nth($breakpoint, 1);
	$brVal: nth($breakpoint, 2);

	@for $r from 1 through 2 {
		@for $i from 1 through 12 {
			@media only screen and (min-width: $brVal) {

				.--#{$brName}-#{$i} {
					grid-template-columns: repeat($i, 1fr);
				}

				.grid {
					&--#{$brName}-#{$i}-#{$r} {
						grid-template-columns: repeat($i, 1fr);
						grid-template-rows: repeat($r, 1fr);
					}
				}
			}
		}
	}
}

.grid-container {
	display: grid;
	grid-gap: 16px 16px;

	//TODO - @DRAFT - should we move to commons.scss or leave here?
	align-items: center;
	justify-items: center;
}

.fullWidth {
	width: 100%;
}