.fold3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
  text-align: center;
  align-items: center;

}

.buildImg {
  max-width: 1000px;
}

.splitCard {
	display: flex;
	align-items: center;
  justify-content: space-between;
  text-align: start;
  width: 1000px;

  > div, img {
    max-width: 400px;
  }
}

.margin {
  margin-bottom: 100px;
}


.ctaLabel {
	background-color: var(--marketingTemplateAccent);
}

:export {
	accentVar: --marketingTemplateAccent;
}
