@import '~@bit/bit.base-ui.layout.breakpoints';

.mainGrid {
	gap: 20px;
	align-items: center;
}

.content {
	margin: 0 auto;
	// max-width: 40%;

	@media screen and (min-width: $br-md) {
		margin: 0;
	}
}

.image {
	max-width: 100%;
}

.buttons {
	@media screen and (min-width: $br-sm) {
		display: flex;
		justify-content: center;
	}
	@media screen and (min-width: $br-md) {
		justify-content: flex-start;
	}
	.button {
		height: 38px;
		width: 100%;
		@media screen and (min-width: $br-sm) {
			width: 180px;
		}
	}
}

.spacer {
	width: 10px;
	height: 10px;
}

.paragraph {
	margin-bottom: 40px;
}
