@import '~@bit/bit.base-ui.layout.breakpoints';

.mainGrid {
	gap: 46px;
	align-items: center;
}

.content {
	margin: 0 auto;
	max-width: 700px;

	@media screen and (min-width: $br-l) {
		margin: 0 auto 0 0;
		max-width: 420px;
	}
}

.buttons {
	display: flex;
	.button {
		height: 38px;
		width: 180px;
	}
}

.spacer {
    width: 10px;
}

.paragraph {
	margin-bottom: 40px;
}