
.whiteBackground {
	height: 450px;
	background-image: url('http://static.bit.dev/homepage-bit/2-quote white background.svg');
	background-color: #f7f9fc;
  background-position: center -1370px;
	background-repeat: no-repeat;
}

.greyBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  // background-color: #e2e2e2;
  background-image: url('https://static.bit.dev/homepage-bit/3-build-ui-qpps-Background.svg');
  background-position: center center;
  background-repeat: no-repeat;
}

.centerTitle {
	text-align: center;
	margin-bottom: 50px;
}

img {
	max-width: 600px;
}


.img1 {
	max-width: 420px;
}

.splitCard {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.maxWidth {
	max-width: 1200px;
	margin: auto;
}
.marketingCard {
	--marketingTemplateAccent: blue;
}


.purpleBackground {
	// height: 600px;
	
	background-image: url('https://static.bit.dev/homepage-bit/1-background.svg');
	color: white;
	background-position: center -150px;
  background-repeat: no-repeat;
  padding: 200px 0 150px 0;
}

.summaryCards {
  transform: translateY(-150px);
  margin-bottom: -50px;
}