.appCard {
  // text-decoration: underline;
  // color: blue;
  min-width: 200px;

}
.appCard:nth-child(1n) {
  break-after: always;
}
/*
.titleSpc {
  color: green;
}
.textClass {
    color: purple;
    text-decoration: none; */
/* } */

/* --------------- */
.page {
  // max-width: 1200px;
}
.maxWidth {
  max-width: 1200px;
  margin: auto;
}
.first {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fold1 {
  height: 600px;
  // background-image: linear-gradient(303deg, #6623A5 105%, #5227B7);
  // background: linear-gradient(90deg, rgba(82,39,183,1) 28%, rgba(102,35,165,1) 58%, rgba(82,39,183,1) 89%);
  background: linear-gradient(90deg, #6E1F9E 28%, #6721A4 58%, #6E1F9E 89%);
  color: white;
  // clip-path: ellipse(41% 150px at 36% -26%);
  // clip-path: circle(50.0% at 50% 50%);
  clip-path: ellipse(100% 350px at center 42%);
}

.boxes {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  max-width: 1480px;
  flex-wrap: wrap;
  transform: translateY(-50px);
}

.fold2 {
  height: 450px;
  clip-path: ellipse(100% 287px at center 30%);

}

.clipPath {
  height: 200px;
  background-color: white;
  clip-path: ellipse(60% 100px at center 10%);
}

.centerTitle {
  text-align: center;
  margin-bottom: 50px;
}

.fold3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #e2e2e2;
  // clip-path: ellipse(100% 350px at center 42%);
}

img {
  max-width: 600px;
}

.bla {
  height: 200px;
}