@import "./components/layout/_breakpoints.scss";
@import './constants/storage.module';

[data-bit-id] {
  transition: outline-color 500ms ease-in-out;
  outline-color: transparent;
  outline-width: 1px;
  outline-style: solid;
  &:hover {
    transition: outline-color 500ms ease-in-out;
    outline-color: red;
  }
}

.toolip {
	position: absolute;
	background-color: pink;
	padding: 5px 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	content: attr(data-border);
  transform: translateY(-105%);
  cursor: pointer;
  text-decoration: none;
}


.whiteBackground {
	background-image: url($staticStorageUrl + '/homepage-bit/2-quote white background.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  background-size: auto 100%;
  @media screen and (min-width: $br-l) {
    background-size: unset;
  }
  @media screen and (min-width: $br-xxl) {
    background-size: 100%;
  }
}

.greyBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  // background-color: #e2e2e2;
  background-image: url($staticStorageUrl + '/homepage-bit/3-background.svg');
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  background-size: auto 100%;
  @media screen and (min-width: $br-l) {
    background-size: unset;
  }
  @media screen and (min-width: $br-xxl) {
    background-size: 100%;
  }
}

.centerTitle {
	text-align: center;
	margin-bottom: 50px;
}

.reuseSection {
	margin: 80px 0 130px 0;
}

.ctaSection {
	margin: 130px auto;
}

.communityBackground {
	background-image: url($staticStorageUrl + '/homepage-bit/6-white%20background.svg');
}


.img1 {
	max-width: 420px;
}

.splitCard {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.maxWidth {
	max-width: 1200px;
	margin: auto;
}

.marketingCard {
	--marketingTemplateAccent: blue;
}



.purpleBackground {
	// height: 600px;

	background-image: url($staticStorageUrl + '/homepage-bit/1-background.svg');
	color: white;
  background-position: center bottom;
	background-repeat: no-repeat;
  padding: 150px 0;
  background-size: auto 100%;
  @media screen and (min-width: $br-l) {
    background-size: unset;
  }
  @media screen and (min-width: $br-xxl) {
    background-size: 100%;
  }
}

.summaryCards {
	transform: translateY(-150px);
	margin-bottom: -50px;
}

.separator {
	margin-top: 80px;
	margin-bottom: 80px;
}

.padding80 {
	padding: 80px 0;
}