@import '~@bit/bit.base-ui.layout.breakpoints';

.buttons {
    display: flex;
    justify-content: center;
    @media screen and (min-width: $br-md) {
    justify-content: flex-end;
    }
    .button {
        height: 38px;
        width: 200px;
    }
    .spacer {
        width: 10px;
        height: 10px;
    }
}
.mainGrid {
    margin-top: 100px;
    margin-bottom: 100px;
}