@import '~@bit/bit.base-ui.layout.breakpoints';

.grid {
	gap: 40px;

	@media screen and (min-width: $br-md) {
		gap: 40px;
	}
}
.wrapper {
	margin-bottom: 150px;
}
.supportCard {
	max-width: 400px;
    margin: 50px auto;
}

.cardIcon {
	margin-bottom: 24px;
}

.cardTitle {
	margin-bottom: 14px;
}