@import '~@bit/bit.base.theme.colors';

.overlayBorder {
	border: 2px solid var(--component-highlighter-border, $pink50);

	border-radius: 11px;
	padding: 4px;

	pointer-events: none;
	user-select: none;
}

