// .secondary {
// 	max-width: 38%;
// }

// .primary {
// 	max-width: 61%;
// }

.fullWidth {
	width: 100%;
}

.centerColumn {
	width: 80%;
	max-width: 1244px;
	margin-right: auto;
	margin-left: auto;
}

.wideColumn {
	max-width: 1440px;
	margin: 0 auto;
}
