// .secondary {
// 	max-width: 38%;
// }

.primary {
	max-width: 61%;
}

.center {
	justify-self: center;
}

@for $i from 1 through 12 {
	.col {
		&-#{$i} {
			grid-column-end: span $i;
		}
	}
}

.centerColumn {
	width: 85%;
	max-width: 1244px;
	margin-right: auto;
	margin-left: auto;
}

.wideColumn {
	max-width: 1440px;
	width: 85%;
	margin: 0 auto;
}

.grid-12-container {
	// grid-gap: 16px 16px;
	justify-items: center;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}